doctype html
html
   head
      title = "Hello Pug"
      link(rel='stylesheet' href='style.css')
   body
      nav
         ul
            li
               a(href="./home") Home
            li
               a(href="#") ¿Quiénes somos?
            li
               a(href="./location") ¿Dónde estamos?
            li
               a(href="./mission") ¿Qué hacemos?
            li
               a(href="./contact") Contacto

      h1 ¿QUIÉNES SOMOS?
      p Párrafo de ejemplo