doctype html
html
   head
      title = "Hello Pug"
      link(rel='stylesheet' href='style.css')
   body
      nav
         ul
            li
               a(href="./home") Home
            li
               a(href="./about") ¿Quiénes somos?
            li
               a(href=".#") ¿Dónde estamos?
            li
               a(href="./mission") ¿Qué hacemos?
            li
               a(href="./contact") Contacto

      h1 ¿DÓNDE ESTAMOS?
      p Párrafo de ejemplo